<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 配置映射文件 -->
<mapper namespace="com.studio.clothing.dao.CategoryDao">
	<resultMap type="Category" id="categoryMap">
		<id property="cid" column="cid" />
		<result property="cname" column="cname" />
		<result property="cdesc" column="cdesc" />
		<result property="creattime" column="creattime" />
		<result property="is_delete" column="is_delete" />
		<collection property="secondCategories" javaType="sCategory">
			<id property="csid" column="csid" />
			<result property="scdesc" column="scdesc" />
			<result property="name" column="name" />
			<result property="is_delete" column="is_delete" />
			<result property="creattime" column="creattime" />
		</collection>
	</resultMap>
	<insert id="add" parameterType="int">
		insert into S_CLOTHINGCATEGORY(cname,cdesc,creattime)
		values(#{cname},#{cdesc},#{creattime})
	</insert> 
	<select id="findAll" parameterType="int" resultType="Category">
		select * from (select c.*,rownum rn from S_CLOTHINGCATEGORY c 
		) where is_delete = 0 
		<if test="cid != 0">
			and cid = #{cid}
		</if>
		<if test="cname != '' and cname != null">
			and cname = #{cname}
		</if>
		<if test="pageBean != null and pageBean.endnum != 0">
			and rn between #{pageBean.startnum}+1 and
			#{pageBean.endnum}
		</if>
		
	</select>
	<update id="update"  parameterType="int">
		update S_CLOTHINGCATEGORY c set
		<if test="is_delete != 1">
			cname = #{cname} , cdesc = #{cdesc}
		</if>
		<if test="is_delete == 1">
			is_delete = #{is_delete}
		</if>
		where cid = #{cid}
	</update>
</mapper>