<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 配置映射文件 -->
<!-- /* setid NUMBER not null, setname VARCHAR2(50) not null, clothingnum 
	NUMBER not null, imgnume NUMBER not null, setdesc VARCHAR2(500), facdeprice 
	NUMBER(8,2) not null, onlineprice NUMBER(8,2) not null, is_delete NUMBER 
	default 0 not null, creattime DATE not null*/ -->
<mapper namespace="com.studio.set.dao.CommentsDao">
	<resultMap type="Comments" id="commentsMap">
		<id property="comid" column="comid" />
		<result property="comdesc" column="comdesc" />
		<result property="creattime" column="creattime" />
		<result property="is_delete" column="isdelete" />
		<association property="user" javaType="User">
			<id property="id" column="id"></id>
			<result property="uemail" column="uemail" />
			<result property="utel" column="utel" />
			<result property="uname" column="uname" />
			<result property="usex" column="usex" />
			<result property="uaddress" column="uaddress" />
			<result property="ucreattime" column="ucreattime" />
			<result property="code" column="code" />
			<result property="password" column="password" />
		</association>
		<association property="set" javaType="Set">
			<id property="setid" column="setid" />
			<result property="setname" column="setname" />
			<result property="setimg" column="setimg" />
			<result property="clothingnum" column="clothingnum" />
			<result property="imgnum" column="imgnum" />
			<result property="setdesc" column="setdesc" />
			<result property="facdeprice" column="facdeprice" />
			<result property="onlineprice" column="onlineprice" />
			<result property="creattime" column="creattime" />
			<result property="is_delete" column="isdelete" />
		</association>
	</resultMap>
	<!-- 查询 -->
	<select id="findAll" parameterType="int" resultMap="commentsMap">
		select t1.*,s.*,u.* from (select t.*,rownum rn from S_COMMENT t where
		t.IS_delete = 0
		<if test="set != null and set.setid != 0" >
			and t.setid = #{set.setid}
		</if>
		) t1, S_SET s,s_user u where
		t1.SETID = s.SETID and u.id = t1.id
		<if test="pageBean.endnum != 0">
			and t1.rn between #{pageBean.startnum}+1 and
			#{pageBean.endnum}
		</if>
	</select>
	<!-- 添加 -->
	<insert id="add" parameterType="int">
		insert into
		S_COMMENT(comdesc,creattime,setid,id)
		values(#{comdesc},#{creattime},#{set.setid},#{user.id})
	</insert>
	<!-- 修改 -->
	<update id="update" parameterType="int">
		update S_COMMENT set
		is_delete =
		#{is_delete}
		where comid = #{comid}
	</update>
</mapper> 