<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 配置映射文件 -->
<mapper namespace="com.studio.employee.dao.EmpDao">
	<resultMap type="Emp" id="empResultMap">
		<id property="eid" column="eid" />
		<result property="ename" column="ename" />
		<result property="esex" column="esex" />
		<result property="etel" column="etel" />
		<result property="eemail" column="eemail" />
		<result property="edesc" column="edesc" />
		<result property="eimg" column="eimg" />
		<result property="is_delete" column="is_delete" />
		<result property="ecreattime" column="ecreattime" />
		<association property="department" javaType="Dept">
			<id property="did" column="did" />
			<result property="dname" column="dname" />
			<result property="ddesc" column="ddesc" />
			<result property="is_delete" column="is_delete" />
			<result property="dcreattime" column="dcreattime" />
		</association>
		<association property="employeeLevel" javaType="EmpLevel">
			<id property="elid" column="elid" />
			<result property="elname" column="elname" />
			<result property="eldesc" column="eldesc" />
			<result property="is_delete" column="is_delete" />
			<result property="elcreattime" column="elcreattime" />
			<result />
		</association>
	</resultMap>

	<select id="findAll" parameterType="int"
		resultMap="empResultMap">
		select emp.*,dept.*,empl.*
		from
		(select em.*,rownum rn from S_EMPLOYEE
		em where em.is_delete != 1
		<if test="eid != 0">
			and em.eid = #{eid}
		</if>
		<if test="employeeLevel != null and employeeLevel.elid != 0">
			and em.elid = #{employeeLevel.elid}
		</if>
		<if test="ename != null and ename != ''">
			and em.ename = #{ename}
		</if>
		<if test="department != null and department.did != 0">
			and em.did = #{department.did}
		</if>
		) emp,
		S_EMPLOYEELEVEL empl,
		S_DEPARTMENT dept
		where emp.elid = empl.elid and
		emp.did = dept.did
		<if test="pageBean != null and pageBean.endnum != 0">
			and rn between #{pageBean.startnum}+1 and
			#{pageBean.endnum}
		</if>
	</select>
	<insert id="add" parameterType="int">
		insert into
		S_EMPLOYEE(ename,esex,etel,elid,did,eemail,edesc,ecreattime,eimg)
		values(#{ename},#{esex},#{etel},#{employeeLevel.elid},#{department.did},#{eemail},#{edesc},#{ecreattime},#{eimg})
	</insert>

	<update id="update" parameterType="int">
		update S_EMPLOYEE set
		<if test="is_delete != 1">
			ename = #{ename},esex = #{esex},etel= #{etel},elid =
			#{employeeLevel.elid},edesc = #{edesc},did =
			#{employeeLevel.elid}
			<if test="eimg != null">
				,eimg = #{eimg}
			</if>
		</if>
		<if test="is_delete == 1">
			is_delete = #{is_delete}
		</if>
		where eid = #{eid}
	</update>
	<select id="find" parameterType="int" resultMap="empResultMap">
		select em.*,empl.* from (select emp.*,rownum rn from S_EMPLOYEE emp
		where emp.is_delete = 0) em ,S_EMPLOYEELEVEL empl where
		em.elid =
		empl.elid
		<if test="employeeLevel != null and employeeLevel.elid == 0">
			and em.elid = 1 or em.elid = 2
		</if>
		<if test=" employeeLevel != null and employeeLevel.elid != 0  ">
			and em.elid = #{employeeLevel.elid }
		</if>
	</select>
</mapper>