<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studio.sample.dao.SampleDao">
	<resultMap type="Sample" id="sampleMap">
		<id property="said" column="said" />
		<result property="sname" column="sname" />
		<result property="img" column="img" />
		<result property="creattime" column="creattime" />
		<result property="is_delete" column="is_delete" />
		<association property="sampleCategory"
			javaType="SampleCategory">
			<id property="scid" column="scid"></id>
			<result property="scname" column="scname" />
			<result property="sccreattime" column="sccreattime" />
			<result property="scis_delete" column="scid_delete" />
			<result property="scdesc" column="scdesc" />
		</association>
	</resultMap>
	<!-- 查询 -->
	<select id="findAll" parameterType="int" resultMap="sampleMap">
		select s.*,sc.* from (select t.*,rownum rn from S_SAMPLE t where
		t.is_delete = 0
		<if test="sampleCategory != null and sampleCategory.scid != 0">
			and t.scid = #{sampleCategory.scid}
		</if>
		<if test="said != 0">
			and t.said = #{said}
		</if>
		<if test="sname != '' and sname != null">
			and t.sname = #{sname}
		</if>
		 ) s,S_SAMPLECATEGORY sc where s.scid = sc.scid
			
		<if test="pageBean != null and pageBean.endnum != 0">
			and s.rn between #{pageBean.startnum}+1 and
			#{pageBean.endnum}
		</if>
	</select>
	<!-- 添加 -->
	<insert id="add" parameterType="int">
		insert into
		S_SAMPLE(sname,img,creattime,scid)
		values(#{sname},#{img},#{creattime},#{sampleCategory.scid})
	</insert>
	<!-- 修改 -->
	<update id="update" parameterType="int">
		update S_SAMPLE set
		<if test="is_delete != 1">
			sname = #{sname},scid=#{sampleCategory.scid}
			<if test="img != null">
				,img=#{img}
			</if>
		</if>
		<if test="is_delete == 1">
			is_delete = #{is_delete}
		</if>
		where said = #{said}
	</update>
</mapper>