<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 配置映射文件 -->
<!-- /* setid NUMBER not null, setname VARCHAR2(50) not null, clothingnum 
	NUMBER not null, imgnume NUMBER not null, setdesc VARCHAR2(500), facdeprice 
	NUMBER(8,2) not null, onlineprice NUMBER(8,2) not null, is_delete NUMBER 
	default 0 not null, creattime DATE not null*/ -->
<mapper namespace="com.studio.set.dao.SetDao">
	<resultMap type="Set" id="setMap">
		<id property="setid" column="setid" />
		<result property="setname" column="setname" />
		<result property="setimg" column="setimg" />
		<result property="clothingnum" column="clothingnum" />
		<result property="imgnum" column="imgnum" />
		<result property="setdesc" column="setdesc" />
		<result property="facdeprice" column="facdeprice" />
		<result property="onlineprice" column="onlineprice" />
		<result property="creattime" column="creattime" />
		<result property="is_delete" column="isdelete" />
	</resultMap>
	<!-- 查询 -->
	<select id="findAll" parameterType="int" resultMap="setMap">
		select * from (select t.*,rownum rn from S_SET t where t.is_delete = 0
		<if test="setid != 0">
			and t.setid = #{setid}
		</if>
		<if test="setname != '' and setname != null">
			and t.setname = #{setname}
		</if>
		)
		<if test="pageBean.endnum != 0">
			where rn between #{pageBean.startnum}+1 and #{pageBean.endnum} 
		</if>
	</select>
	<!-- 添加 -->
	<insert id="add" parameterType="int">
		insert into
		S_SET(setname,setimg,clothingnum,imgnum,setdesc,facdeprice,onlineprice,creattime)
		values(#{setname},#{setimg},#{clothingnum},#{imgnum},#{setdesc},#{facdeprice},#{onlineprice},#{creattime})
	</insert>
	<!-- 修改 -->
	<update id="update" parameterType="int">
		update S_SET set
		<if test="is_delete != 1">
			setname = #{setname},clothingnum = #{clothingnum},imgnum =
			#{imgnum},setdesc
			= #{setdesc},facdeprice = #{facdeprice},onlineprice
			= #{onlineprice}
			<if test="setimg != null">
				,setimg = #{setimg}
			</if>
		</if>
		<if test="is_delete == 1">
			is_delete = #{is_delete}
		</if>
		where setid = #{setid}
	</update>
</mapper> 