<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 配置映射文件 -->
<mapper namespace="com.studio.user.dao.UserDao">

<resultMap type="User" id="userResultMap">
	<id property="id" column="id"></id>
			<result property="uemail" column="uemail" />
			<result property="utel" column="utel" />
			<result property="uname" column="uname" />
			<result property="usex" column="usex" />
			<result property="uaddress" column="uaddress" />
			<result property="ucreattime" column="ucreattime" />
			<result property="code" column="code" />
			<result property="password" column="password" />
</resultMap>
	<!-- 登录 -->
	<select id="login" parameterType="int" resultMap="userResultMap">
		select
		id,uemail,utel,uname,usex,uage,uaddress from S_USER where
		uemail =
		#{uemail} and
		password =
		#{password}
	</select>
	<!-- 用户注册信息 -->
	<insert id="regist" parameterType="int">
		insert into
		S_USER(uemail,utel,uname,usex,uage,uaddress,password,code,ucreattime)
		values(#{uemail},#{utel
		},#{uname},#{usex},#{uage,jdbcType=DOUBLE},#{uaddress,jdbcType=VARCHAR},#{password},#{code},#{ucreattime})
	</insert>
	<!-- 通过邮箱账号发现用户 -->
	<select id="findByEmail" parameterType="int" resultMap="userResultMap">
		select
		id,uemail,uname,utel,usex,uage,uaddress,password from S_USER where
		uemail =
		#{uemail}
	</select>
	<!-- 通过激活码发现用户 -->
	<select id="findByCode" parameterType="int" resultMap="userResultMap">
		select
		id,uemail,utel,uname,usex,uage,uaddress,code from S_USER where code =
		#{code}
	</select>
	<!-- 修改用户信息 -->
	<update id="update" parameterType="int">
		update S_USER set
		utel=#{utel},uname=#{uname},usex=#{usex},uage=#{uage,jdbcType=DOUBLE},uaddress=#{uaddress,jdbcType=VARCHAR},code=#{code,jdbcType=VARCHAR}
		where uemail=#{uemail}
	</update>
	<!-- 修改密码 -->
	<update id="editPass" parameterType="int">
		update S_USER set
		password=#{password} where uemail=#{uemail}
	</update>
	<!-- 查询所有用户的信息 -->
	<select id="findAllUser" parameterType="int" resultMap="userResultMap" >
		select * from (select id,uemail,uname,utel,usex,uage,uaddress,rownum
		rn from S_USER
		<if test="uname != '' and uname != null">
			where uname = #{uname}
		</if>
		)
		<if test="pageBean.endnum != 0">
			where rn between #{pageBean.startnum}+1 and
			#{pageBean.endnum}
		</if>
	</select>
</mapper>