<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE struts PUBLIC
        "-//Apache Software Foundation//DTD Struts Configuration 2.5//EN"
        "http://struts.apache.org/dtds/struts-2.5.dtd">
<struts>
	<package name="car" namespace="/car" extends="studio">
		<global-allowed-methods>add,findAll,delete,clear</global-allowed-methods>
		<action name="carAction_*" method="{1}" class="carAction">
			<result name="findAll">/order/car.jsp</result>
			<result name="find" type="redirectAction">/carAction_findAll.action</result>
			<result name="msg">/msg.jsp</result>
		</action>
	</package>
</struts>