<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE struts PUBLIC
        "-//Apache Software Foundation//DTD Struts Configuration 2.5//EN"
        "http://struts.apache.org/dtds/struts-2.5.dtd">
<struts>
	<package name="clothing" namespace="/clothing" extends="studio">
		<global-allowed-methods>findAll,findSname,edit,editPage,add,addPage,delete,item</global-allowed-methods>
		<action name="clothing_*" method="{1}" class="clothingAction">
			<result name="findAll">/clothing/list.jsp</result>
			<result name="addPage">/clothing/add.jsp</result>
			<result name="editPage">/clothing/edit.jsp</result>
			<result name="item">/clothing/item.jsp</result>
			<result name="add" type="redirectAction">/clothing_findAll.action?pageBean.page=1</result>
		</action>
	</package>
</struts>