<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE struts PUBLIC
        "-//Apache Software Foundation//DTD Struts Configuration 2.5//EN"
        "http://struts.apache.org/dtds/struts-2.5.dtd">
<struts> 
	<package name="comment" namespace="/comment" extends="studio">
		<global-allowed-methods>findAll,index,delete,add</global-allowed-methods>
		<action name="comments_*" method="{1}" class="commentsAction">
			<result name="findAll">/comments/list.jsp</result>
			<result name="index">/set/set.jsp</result>
			<result name="find" type="redirectAction">/comments_findAll.action?pageBean.page=1</result>
		</action>
	</package>
</struts>