<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE struts PUBLIC
        "-//Apache Software Foundation//DTD Struts Configuration 2.5//EN"
        "http://struts.apache.org/dtds/struts-2.5.dtd">
<struts> 
	<package name="dept" namespace="/dept" extends="studio">
		<global-allowed-methods>findAll,edit,findSname,delete,editPage,add,addPage</global-allowed-methods>
		<action name="deptAction_*" method="{1}" class="deptAction">
			<result name="addPage">/department/add.jsp</result>
			<result name="findAll">/department/list.jsp</result>
			<result name="editPage">/department/eidt.jsp</result>
			<result name="find" type="redirectAction">/deptAction_findAll.action?pageBean.page=1</result>
		</action>
	</package>
</struts>