<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE struts PUBLIC
        "-//Apache Software Foundation//DTD Struts Configuration 2.5//EN"
        "http://struts.apache.org/dtds/struts-2.5.dtd">
<struts>
	<package name="empLevel" namespace="/empLevel" extends="studio">
		<global-allowed-methods>findAll,findSname,addPage,add,editPage,edit</global-allowed-methods>
		<action name="empLevelAction_*" class="empLevelAction"
			method="{1}">
			<result name="findAll">/employeelevel/list.jsp</result>
			<result name="addPage">/employeelevel/add.jsp</result>
			<result name="editPage">/employeelevel/edit.jsp</result>
			<result name="find" type="redirectAction">/empLevelAction_findAll.action?pageBean.page=1
			</result>
		</action>
	</package>
</struts>