<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE struts PUBLIC
        "-//Apache Software Foundation//DTD Struts Configuration 2.5//EN"
        "http://struts.apache.org/dtds/struts-2.5.dtd">
<struts>
	<package name="order" namespace="/order" extends="studio">
		<global-allowed-methods>add,edit,editPage,findAll,item,delete,clear</global-allowed-methods>
		<action name="orderAction_*" method="{1}" class="orderAction">
			<result name="findAll">/order/order.jsp</result>
			<result name="editPagea" type="redirectAction">/orderAction_editPage.action?dresser.eid=0</result>
			<result name="editPage">/order/edit.jsp</result>
			<result name="msg">/msg.jsp</result>
			<result name="item">/order/item.jsp</result>
			<result name="find" type="redirectAction">/orderAction_findAll.action?pageBean.page=1;ostate=0</result>
		</action>
	</package>
</struts>