<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE struts PUBLIC
        "-//Apache Software Foundation//DTD Struts Configuration 2.5//EN"
        "http://struts.apache.org/dtds/struts-2.5.dtd">
<struts>
	<package name="photo" namespace="/photo" extends="studio">
		<global-allowed-methods>findAll,edit,add,addPage,delete,select</global-allowed-methods>
		<action name="photoAction_*" method="{1}" class="photoAction">
			<result name="findAll">/photo/list.jsp</result>
			<result name="addPage">/photo/add.jsp</result>
			<result name="select">/photo/selecphoto.jsp</result>
			<result name="find" type="redirectAction">/photoAction_findAll.action?pageBean.page=1
			</result>
		</action>
	</package>
</struts>