<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE struts PUBLIC
        "-//Apache Software Foundation//DTD Struts Configuration 2.5//EN"
        "http://struts.apache.org/dtds/struts-2.5.dtd">
<struts>
	<package name="samplecategory" namespace="/samplecategory" extends="studio">
		<global-allowed-methods>findAll,edit,editPage,findByscname,add,addPage,delete</global-allowed-methods>
		<action name="samplecategory_*" method="{1}" class="sampleCategoryAction">
			<result name="findAll">/sample/samplecategory/list.jsp</result>
			<result name="addPage">/sample/samplecategory/add.jsp</result>
			<result name="editPage">/sample/samplecategory/edit.jsp</result>
			<result name="find" type="redirectAction">/samplecategory_findAll.action?pageBean.page=1</result>
		</action>
	</package>
</struts>