<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE struts PUBLIC
        "-//Apache Software Foundation//DTD Struts Configuration 2.5//EN"
        "http://struts.apache.org/dtds/struts-2.5.dtd">
<struts>
	<package name="sample" namespace="/sample" extends="studio">
		<global-allowed-methods>findAll,index,edit,editPage,findSname,add,addPage,delete</global-allowed-methods>
		<action name="sampleAction_*" method="{1}" class="sampleAction">
			<result name="findAll">/sample/list.jsp</result>
			<result name="addPage">/sample/add.jsp</result>
			<result name="editPage">/sample/edit.jsp</result>
			<result name="index">/sample/item.jsp</result>
			<result name="find" type="redirectAction">/sampleAction_findAll.action?pageBean.page=1</result>
		</action>
	</package>
</struts>