<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE struts PUBLIC
        "-//Apache Software Foundation//DTD Struts Configuration 2.5//EN"
        "http://struts.apache.org/dtds/struts-2.5.dtd">
<struts>
	<package name="user" namespace="/user" extends="studio">
		<global-allowed-methods>regist,login,active,quit,findByEmail,findPass,editInfoPage,findAllUser,findUserInfo,editInfo,oldPass,editPass</global-allowed-methods>
		<action name="userAction_*" class="userAction" method="{1}">
			<result name="index">/index.jsp</result>
			<result name="login">/user/userlogin.jsp</result>
			<result name="msg">/msg.jsp</result>
			<result name="editInfo">/user/editInfo.jsp</result>
			<result name="selfInfo">/user/selfInfo.jsp</result>
			<result name="oldPassPage">/user/oldpass.jsp</result>
			<result name="newPassPage">/user/newPass.jsp</result>
			<result name="userlogin">/user/selfInfo.jsp</result>
			<result name="userloginPage">/user/userlogin.jsp</result>
			<result name="findAllUser">/user/userlist.jsp</result>
		</action>
	</package>
</struts>